@import "~scss/variables";

.sw-order-list {
    .sw-order-list__sidebar .sw-sidebar-item__scrollable-container {
        padding: 0;
    }

    .sw-order-list__sidebar .sw-order-list-sidebar-filter-clear-filter {
        position: absolute;
        bottom: 10px;
        right: 10px;
    }

    .sw-order-list__sidebar .sw-sidebar-item__overview {
        display: grid;
        grid-template-rows: 1fr 60px;
        height: 100%;
        overflow: hidden;
    }

    .sw-order-list__sidebar .sw-sidebar-item__filter-content {
        overflow: auto;
    }

    .sw-order-list__sidebar .sw-sidebar-item__filter-clear_all {
        border-top: 1px solid $color-steam-cloud;;
    }
}
